    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    
    .con3 {
        display: grid;
        gap: 10px;
    }
    
    .con2 {
        display: grid;
    }
    
    .con1 {
        text-align: center;
    }