h1 {
    color: blue;
    display: flex;
    justify-content: center;
}

.b11 {
    color: green;
    justify-content: center;
    display: flex;
}

.list {
    justify-content: center;
    display: flex;
    list-style: none;
}

h3 {
    color: blue;
    display: flex;
    justify-content: center;
}

h4 {
    display: flex;
    justify-content: center;
}

.table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}

li {
    padding-left: 10px;
}